.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divCas{
  font-size: 42px;
}


* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: fit-content;
  padding-right: 20px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#inputText{
  height: 20%;
  width: -webkit-fill-available;
  border-radius: 10px;
}
#container{
  padding: 0%;
  margin: 0%;
}
.contentView{
   padding: 0%;
   margin: 0%;
}


#btnAnalyser{
  font-size: 40px;
  height: fit-content;
  border-radius: 5px;
}
#btnAnalyser:hover{
background-color: burlywood;
}